<section class="hero-visual">
    <div class="hero-visual-title">
      <h1>諦めるにはまだ、早い</h1>
    </div>
    <%=  image_tag("header.jpg", class: "header__photo") %>
  </section>

  <section class="about">
    <div class="section__title">
      <div class="section__title__photo">
        <%=  image_tag("about.png", class: "title__font") %>
      </div>
      <div class="section__title__text">
        <h1>ヘアゲインについて</h1>
      </div>
    </div>
    <p class="about__text">
      ヘアゲインは、チャットやビデオ通話を使用して医師のカウンセリングを受けながら<br>自分に合った育毛剤・発毛剤・ヘアケア用品・AGA医薬品を購入することができるサービスです。
    </p>
    <a href="" class="square__btn">会員登録はこちら</a>
  </div>
</section>
<section class="feature">
  <div class="section__title">
    <div class="section__title__photo">
      <%=  image_tag("feature.png", class: "title__font") %>
    </div>
    <div class="section__title__text">
      <h1>ヘアゲインの特徴</h1>
    </div>
  </div>
  <div class="feature__item">
    <div class="feature__items">
      <div class="feature__item--photo">
        <%=  image_tag("feature01.png") %>
      </div>
      <div class="feature__item--text">
        <p>カウンセリング料金は無料です。病院に行くことなく、医者の専門的な診断を受診することができます。</p>
      </div>
    </div>
    <div class="feature__items">
      <div class="feature__item--photo">
        <%=  image_tag("feature02.png") %>
      </div>
      <div class="feature__item--text">
        <p>チャットとビデオ通話のどちらでも予約することができます。自分に合ったカウンセリング方法を選択することができます。</p>
      </div>
    </div>
    <div class="feature__items">
      <div class="feature__item--photo">
        <%=  image_tag("feature03.png") %>
      </div>
      <div class="feature__item--text">
        <p>カウンセリング後、あなたに合った医薬品を販売します。自分で選択し、失敗することはもうありません。</p>
      </div>
    </div>
  </div>
</section>
<section class="flow">
  <div class="section__title">
    <div class="section__title__photo">
      <%=  image_tag("flow.png", class: "title__font") %>
    </div>
    <div class="section__title__text">
      <h1>サービスの流れ</h1>
    </div>
  </div>
  <div class="flow__item">
    <div class="flow__items">
      <div class="flow__item--photo">
        <i class="fa fa-laptop" aria-hidden="true"></i>
      </div>
      <div class="flow__item--text">
        <p>スマートフォンやパソコンからメールアドレスや名前を入力して会員登録します。</p>
      </div>
    </div>
    <div class="flow__items">
      <div class="flow__item--photo">
        <i class="fa fa-comments" aria-hidden="true"></i>
      </div>
      <div class="flow__item--text">
        <p>チャットやビデオ通話を使用して医師とカウンセリングをします。</p>
      </div>
    </div>
    <div class="flow__items">
      <div class="flow__item--photo">
        <i class="fa fa-user-md" aria-hidden="true"></i>
      </div>
      <div class="flow__item--text">
        <p>カウンセリング後、医師からあなたに合った医薬品が紹介されます。</p>
      </div>
    </div>
    <div class="flow__items">
      <div class="flow__item--photo">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
      <div class="flow__item--text">
        <p>勧められた商品を購入することができます。</p>
      </div>
    </div>
  </div>
  <a href="" class="square__btn">会員登録はこちら</a>
</section>
