<% provide(:title, "ログイン") %>
<div class="login">
		<%= form_for(:session, url: login_path ,class: "login-container") do |f| %>
			<%= f.email_field :email, placeholder:"Email" %>
			<%= f.password_field :password, placeholder:"Password" %>
			<%= f.submit "ログイン", class: "btn btn-primary" %>
		<% end %>
		<p>もしかして未登録? <%= link_to "新規アカウント作成", signup_path %></p>
</div>
