<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(user.errors.count, "error") %>
		prohibited this user from being saved:</h2>

	<ul>
		<% user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<table id="sign-up-table">
	<tr>
		<th><%= form.label "名前" %></th>
		<td><%= form.text_field :name%></td>
	</tr>
	<tr>
		<th><%= form.label "なまえ" %></th>
		<td><%= form.text_field :reading_name%></td>
	</tr>
	<tr>
		<th><%= form.label "性別" %></th>
		<td>
			<%= form.radio_button :gender ,0 , :checked => "checked"%>男性
			<%= form.radio_button :gender, 1%>女性
		</td>
	</tr>
	<tr>
		<th><%= form.label "生年月日	" %></th>
		<td><%= form.date_select :birthdate, {
			:use_month_numbers => true ,
			default:Date.new(1989, 1, 1),
			start_year: 1930,
			end_year: (Time.now.year - 18)
			}%></td>
	</tr>
	<tr>
		<th><%= form.label "メールアドレス" %></th>
		<td><%= form.email_field :email%></td>
	</tr>
	<tr>
		<th><%= form.label "パスワード" %></th>
		<td><%= form.password_field :password%></td>
	</tr>
	<tr>
		<th><%= form.label "パスワード(確認)" %></th>
		<td><%= form.password_field :password_confirmation%></td>
	</tr>
	<tr>
		<th><%= form.label "電話番号" %></th>
		<td><%= form.number_field :tel%></td>
	</tr>
	<tr>
		<th><%= form.label "郵便番号(「-」無し)" %></th>
		<td><%= form.text_field :address%></td>
	</tr>
	<tr>
		<td>
			<%= form.submit %>
		</td>
	</tr>
</table>
<!--
<div class="field">
	<%= form.label "名前" %>
	<%= form.text_field :name%>
</div>

<div class="field">
	<%= form.label :reading_name %>
	<%= form.text_field :reading_name%>
</div>

<div class="field">
	<%= form.label :gender %>
	<%= form.radio_button :gender ,0 , :checked => "checked"%>男性
	<%= form.radio_button :gender, 1%>女性
</div>

<div class="field">
	<%= form.label :birthdate %>
	<%= form.date_select :birthdate, {
		:use_month_numbers => true ,
		default:Date.new(1989, 1, 1),
		start_year: 1930,
		end_year: (Time.now.year - 18)
		}%>
</div>

<div class="field">
	<%= form.label :email %>
	<%= form.email_field :email %>
</div>

<div class="field">
	<%= form.label :password %>
	<%= form.password_field :password %>
</div>
<div class="field">
	<%= form.label :password_confirmation %>
	<%= form.password_field :password_confirmation %>
</div>

<div class="field">
	<%= form.label :tel %>
	<%= form.number_field :tel%>
</div>

<div class="field">
	<%= form.label :post_code %>
	<%= form.number_field :post_code%>
</div>

<div class="field">
	<%= form.label :address %>
	<%= form.text_field :address%>
</div>

<div class="actions">
	<%= form.submit %>
</div> -->
<% end %>
