<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>

  <div class="field">
    <%= form.label :reading_name %>
    <%= form.text_field :reading_name%>
  </div>

  <div class="field">
    <%= form.label :gender %>
		<%= form.radio_button :gender ,0 , :checked => "checked"%>男性
    <%= form.radio_button :gender, 1%>女性
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.number_field :tel%>
  </div>

  <div class="field">
    <%= form.label :post_code %>
    <%= form.number_field :post_code%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
