<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Reading name:</strong>
  <%= @user.reading_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @user.post_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<%= link_to '個人情報を編集する', edit_user_path(@user) %>
<%= link_to 'トップ画面に戻る', root_path %>
