<p id="notice"><%= notice %></p>

<h1 style="margin: 20px;">あなたの個人情報です。</h1>

<div>
  <table style="margin: 0 auto; padding-bottom: 30px;" >
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>ふりがな</th>
      <td><%= @user.reading_name %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><% if @user.gender == 0 %>男性<% else %>女性<% end %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @user.birthdate %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @user.tel %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @user.post_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @user.address %></td>
    </tr>
  </table>
</div>

<div style="margin: 20px;">
<%= link_to '個人情報を編集する', edit_user_path(@user), class:"square__btn" %><br>
<%= link_to 'トップ画面に戻る', root_path, class:"square__btn", style:"margin-top: 20px;" %>
</div>
