<div class="well" style="margin-top: 50px;">
	<div class="row">
		<div class="col-xs-8">
			<h2>商品名：<%= product.name %></h2>
		</div>
		<div class="col-xs-4">
			<%= form_for order_item, remote: true do |f| %>
			<%= image_tag product.image, style:"height: 100px; width: auto;" %>
			<h2 class="text-right" style="margin: 10px;">単価:
				<span style="color: green"><%= order_item.unit_price.to_i %>円</span>
			</h2>
			<div class="row">
				<div class="col-xs-4">
					<%= f.number_field :quantity, value: order_item.quantity.to_i,style:"width: 40px;", class: "form-control", min: 1,readonly:confirm %>個
					<%= f.hidden_field :product_id, value: product.id %>
				</div>
				<div class="col-xs-8 text-right">
					<div class="btn-group">
						<% if !confirm %>
						<%= f.submit "変更", class: "btn btn-primary" %>
						<%= link_to "取り除く", order_item, { data: { confirm: "カートから [#{order_item.product.name}] を取り除いていいですか？" }, method: :delete, remote: true, class: "btn btn-danger" } %>
						<% end %>
					</div>
				</div>
			</div>
			<h1 class="text-right" style="margin: 20px;">小計:
				<span style="color: green"><%= order_item.total_price.to_i %>円</span>
			</h1>
			<% end %>
		</div>
	</div>
</div>
