<% provide(:title, '商品一覧') %>
<h1>商品一覧</h1>

<ul class="products">
  <% @products.each do |product| %>
    <div class="card">
      <%= image_tag product.image, style:"width: 100%;"%>
      <div class="container">
        <h4><b><%= product.name %></b></h4>
        <p><%= product.price %>円(税込)</p>
        <%= link_to "edit", edit_product_path(product) %>
        <%= link_to "delete", product, method: :delete, data: { confirm: "You sure?" } %>
      </div>
    </div>
  <% end %>
</ul>
