<% provide(:title, '商品一覧') %>
<div class="pankuzu">
  <ul>
		<li><%= link_to "トップ", root_path %></li>
		<li><%= link_to "商品一覧", products_path %></li>
  </ul>
</div>
<div class="shop__wrapper">
  <section class="shop__side">
    <h2 class="category__title">カテゴリーから絞る</h2>
    <div class="category">
      <h3 class="category__small--title">育毛剤</h3>
      <ul class="category__small">
        <% @products.where(category: "growth").each do |product| %>
          <li><%= link_to  product.name, product_path(product) %></li>
        <% end %>
      </ul>
    </div>
    <div class="category">
      <h3 class="category__small--title">育毛サプリメント</h3>
      <ul class="category__small">
        <% @products.where(category: "supplement").each do |product| %>
          <li><%= link_to  product.name, product_path(product) %></li>
        <% end %>
      </ul>
    </div>
    <div class="category">
      <h3 class="category__small--title">発毛剤</h3>
      <ul class="category__small">
        <% @products.where(category: "treatment").each do |product| %>
          <li><%= link_to  product.name, product_path(product) %></li>
        <% end %>
      </ul>
    </div>
    <div class="category">
      <h3 class="category__small--title">育毛トニック</h3>
      <ul class="category__small">
        <% @products.where(category: "tonic").each do |product| %>
          <li><%= link_to  product.name, product_path(product) %></li>
        <% end %>
      </ul>
    </div>
  </section>
  <section class="shop__main">
    <div class="shop__item">
      <% @products.each do |product| %>
        <div class="shop__items">
          <%= link_to product_path(product) do %>
            <div class="shop__item--photo">
              <%= image_tag product.image, style:"height: 200px; width: auto;" %>
            </div>
            <div class="shop__item--text">
              <h2><%= product.name %><br>¥<%= product.price.to_s(:delimited) %>(税込)</h2>
              <div class="shop__value">
                <%= image_tag('star.png') %>
                <%= image_tag('star.png') %>
                <%= image_tag('star.png') %>
                <%= image_tag('star.png') %>
                <%= image_tag('no_star.png') %>
              </div>
            </div>
          <% end %>
        </div>
  	  <% end %>
    </div>
  </section>
</div>
