<% provide(:title, 'All products') %>
<h1>All products</h1>

<ul class="products">
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
      <%= product.price %>
      <%= product.introduction %>
      <%= product.company %>
      <%= product.stock %>
      <%= product.category %>
      <%= image_tag product.image %>
      <%= link_to "edit", edit_product_path(product) %>
      <%= link_to "delete", product, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</ul>
