<% provide(:title, 'new product') %>
<h1>new product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product, url: products_path) do |f| %>
    <table id="sign-up-table">
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :introduction %></th>
        <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
        <th><%= f.label :price %></th>
        <td><%= f.number_field :price %></td>
      </tr>
      <tr>
        <th><%= f.label :company %></th>
        <td><%= f.text_field :company %></td>
      </tr>
      <tr>
        <th><%= f.label :stock %></th>
        <td><%= f.number_field :stock %></td>
      </tr>
      <tr>
        <th><%= f.label :category %></th>
        <td><%= f.text_field :category %></td>
      </tr>
      <tr>
        <th><%= f.label :capacity %></th>
        <td><%= f.number_field :capacity %></td>
      </tr>
      <tr>
        <th><%=f.label :image %></th>
        <td><%= f.file_field :image %></td>
      </tr>
    </table>
    <%= f.submit "Create new product", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
