<% provide(:title, 'new product') %>
<h1>new product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product, url: product_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :introduction %>
      <%= f.text_area :introduction %>

      <%= f.label :price %>
      <%= f.number_field :price %>

      <%= f.label :company %>
      <%= f.text_field :company %>

      <%= f.label :stock %>
      <%= f.number_field :stock %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <%=f.label :image %>
      <%= f.file_field :image %><br>

      <%= f.submit "Create new product", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
