<% provide(:title, @product.name) %>
<div class="pankuzu">
  <ul>
    <li><%= link_to 'トップ', root_path %></li>
    <li><%= link_to '商品一覧', products_path %></li>
    <li><%= @product.name %></li>
  </ul>
</div>
<div class="wrapper2">
  <div class="flex__box">
    <section class="side">
      <%= image_tag @product.image %>
    </section>
    <section class="main">
      <div class="product__items">
        <div class="product__item--text">
          <h2 style="text-align: left;"><%= @product.name %></h2>
          <div class="price">
            <h2 style="text-align: left;">¥<%= @product.price.to_s(:delimited) %>(税込)</h2>
          </div>
          <div class="value" style="text-align: left;">
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('no_star.png') %>
          </div>
        </div>
      </div>
      <div class="number">
        <h2 style="text-align: left;">数量</h2>
        <input type="number" name="number" min="0" placeholder="個数を選択してください">
      </div>
      <a href="" class="square__btn">カートに入れる</a>
    </section>
  </div>
  <div class="product__description">
    <h2 style="text-align: left;">商品説明</h2>
    <div class="description__text">
      <h2>頭皮の厚みに着目した、新生スカルプD登場</h2>
      <p style="text-align: left;"><%= @product.introduction %></p>
    </div>
  </div>
  <%= link_to "レビューを投稿する", new_product_review_path(@product.id) , class:"review__btn" %>
  <div class="review__model">
    <div class="model__items">
      <h2>評価の高いレビュー</h2>
      <div class="review__text">
        <div class="review__box">
          <h2>良い</h2>
          <div class="value">
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('no_star.png') %>
          </div>
        </div>
        <div class="review__item">
          <p class="name">投稿者 : 匿名希望さん</p>
          <p class="day">投稿日 : 2017年10月12日</p>
        </div>
        <p>30代になり、抜け毛が増えてきた夫。遺伝を考えると、いつ薄くなってもおかしくないと悩む姿を見て、「試しにアンファーを使ってみたら」と打診し、購入してみました。もうすぐ使い切るタイミングで、次のシャンプーはどうするか聞いたところ、次もアンファーで！と指名。抜け毛が減少してるし、頭皮が痒くならないとのこと。言われてみれば、おふろの浴槽や洗面台にぱらぱらと落ちていた髪の毛が明らかに減りました。続けて使いたいと言うので、2回目は定期購入にします。
        </p>
      </div>
    </div>
    <div class="model__items">
      <h2>評価の低いレビュー</h2>
      <div class="review__text">
        <div class="review__box">
          <h2>悪い</h2>
          <div class="value">
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('no_star.png') %>
          </div>
        </div>
        <div class="review__item">
          <p class="name">投稿者 : 匿名希望さん</p>
          <p class="day">投稿日 : 2017年10月12日</p>
        </div>
        <p>30代になり、抜け毛が増えてきた夫。遺伝を考えると、いつ薄くなってもおかしくないと悩む姿を見て、「試しにアンファーを使ってみたら」と打診し、購入してみました。もうすぐ使い切るタイミングで、次のシャンプーはどうするか聞いたところ、次もアンファーで！と指名。抜け毛が減少してるし、頭皮が痒くならないとのこと。言われてみれば、おふろの浴槽や洗面台にぱらぱらと落ちていた髪の毛が明らかに減りました。続けて使いたいと言うので、2回目は定期購入にします。
        </p>
      </div>
    </div>
  </div>
  <div class="review">
    <h2>最新レビュー</h2>
    <div class="review__text">
      <div class="review__box">
        <h2>良い</h2>
        <div class="value">
          <%= image_tag('star.png') %>
          <%= image_tag('star.png') %>
          <%= image_tag('star.png') %>
          <%= image_tag('star.png') %>
          <%= image_tag('no_star.png') %>
        </div>
      </div>
      <div class="review__item">
        <p class="name">投稿者 : 匿名希望さん</p>
        <p class="day">投稿日 : 2017年10月12日</p>
      </div>
      <p>30代になり、抜け毛が増えてきた夫。遺伝を考えると、いつ薄くなってもおかしくないと悩む姿を見て、「試しにアンファーを使ってみたら」と打診し、購入してみました。もうすぐ使い切るタイミングで、次のシャンプーはどうするか聞いたところ、次もアンファーで！と指名。抜け毛が減少してるし、頭皮が痒くならないとのこと。言われてみれば、おふろの浴槽や洗面台にぱらぱらと落ちていた髪の毛が明らかに減りました。続けて使いたいと言うので、2回目は定期購入にします。
      </p>
    </div>

    <% @reviews.each do |review| %>
      <div class="review__text">
        <div class="review__box">
          <h2>星の数：<%= review.star %></h2>
          <div class="value">
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('no_star.png') %>
          </div>
        </div>
        <div class="review__item">
          <p class="name">投稿者 : <%= review.name %>さん</p>
          <p class="day">投稿日 : <%= review.created_at.strftime('%Y年%m月%d日') %></p>
        </div>
        <p><%= review.content %></p>
      </div>
    <% end %>
  </div>
</div>
