<% provide(:title, @product.name) %>
<div class="pankuzu">
  <ul>
    <li><%= link_to 'トップ', root_path %></li>
    <li><%= link_to '商品一覧', products_path %></li>
    <li><%= @product.name %></li>
  </ul>
</div>
<div class="product__wrapper">
  <div class="flex__box" style="padding-bottom: 5px;">
    <section class="product__side">
      <%= image_tag @product.image %>
    </section>
    <section class="product__main">
      <div class="product__items">
        <div class="product__item--text">
          <h2 style="text-align: left;"><%= @product.name %></h2>
          <div class="price">
            <h2 style="text-align: left;">¥<%= @product.price.to_s(:delimited) %>(税込)</h2><br>
            <p style="text-align: left;">内容量：<%= @product.capacity %>
              <% if @product.category == "supplement" %>
                粒
              <% else %>
                ml
              <% end %>
            </p>
          <div class="product__value" , style="text-align: left;">
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('no_star.png') %>
          </div>
        </div>
      </div>
      <%= form_for @order_item, remote: true do |f| %>
        <div class="number">
          <h2 style="text-align: left; margin-top: 20px;">数量</h2>
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        </div>
        <%= f.hidden_field :product_id, value: @product.id %>
        <div style="text-align: left;">
          <%= f.submit "カートに入れる", class:"square__btn", style:"border: none;" %>
      </div>
      <% end %>
    </section>
  </div>
  <div class="product__description" style="padding-bottom: 60px;">
    <h2 style="text-align: left;">商品説明</h2>
    <div class="description__text" style="padding-top: 20px;">
      <p , style="text-align: left;"><%= @product.introduction %></p>
    </div>
  </div>
  <%= link_to "レビューを投稿する", new_product_review_path(@product.id) , class:"review__btn" %>
  <div class="review__model">
    <div class="model__items">
      <h2 style="text-align: left;">評価の高いレビュー</h2>
      <div class="review__text">
        <div class="review__box">
          <h2>良い</h2>
          <div class="product__value">
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('star.png') %>
            <%= image_tag('no_star.png') %>
          </div>
        </div>
        <div class="review__item">
          <p class="name">投稿者 : 匿名希望さん</p>
          <p class="day">投稿日 : 2017年10月12日</p>
        </div>
        <p style="text-align: left;">30代になり、抜け毛が増えてきた夫。遺伝を考えると、いつ薄くなってもおかしくないと悩む姿を見て、「試しにアンファーを使ってみたら」と打診し、購入してみました。もうすぐ使い切るタイミングで、次のシャンプーはどうするか聞いたところ、次もアンファーで！と指名。抜け毛が減少してるし、頭皮が痒くならないとのこと。言われてみれば、おふろの浴槽や洗面台にぱらぱらと落ちていた髪の毛が明らかに減りました。続けて使いたいと言うので、2回目は定期購入にします。
        </p>
      </div>
    </div>
    <div class="model__items">
      <h2 style="text-align: left;">評価の低いレビュー</h2>
      <div class="review__text">
        <div class="review__box">
          <h2>悪い</h2>
          <div class="product__value">
            <%= image_tag('star.png') %>
            <%= image_tag('no_star.png') %>
            <%= image_tag('no_star.png') %>
            <%= image_tag('no_star.png') %>
            <%= image_tag('no_star.png') %>
          </div>
        </div>
        <div class="review__item">
          <p class="name">投稿者 : 斎藤さん</p>
          <p class="day">投稿日 : 2017年10月13日</p>
        </div>
        <p style="text-align: left;">30代になり、抜け毛が増えてきた夫。遺伝を考えると、いつ薄くなってもおかしくないと悩む姿を見て、「試しにアンファーを使ってみたら」と打診し、購入してみました。もうすぐ使い切るタイミングで、次のシャンプーはどうするか聞いたところ、次もアンファーで！と指名。抜け毛が減少してるし、頭皮が痒くならないとのこと。言われてみれば、おふろの浴槽や洗面台にぱらぱらと落ちていた髪の毛が明らかに減りました。続けて使いたいと言うので、2回目は定期購入にします。
        </p>
      </div>
    </div>
  </div>
  <div class="review">
    <h2 style="text-align: left;">最新レビュー</h2>
    <% if @reviews.count != 0 %>
      <% @reviews.each do |review| %>
        <div class="review__text">
          <div class="review__box">
            <h2>星<%= review.star %>つ！</h2>
            <div class="product__value">
                <%= image_tag('star.png') %>
                <%= image_tag('star.png') %>
                <%= image_tag('star.png') %>
                <%= image_tag('star.png') %>
                <%= image_tag('no_star.png') %>
            </div>
          </div>
          <div class="review__item">
            <p class="name">投稿者 : <%= review.name %>さん</p>
            <p class="day">投稿日 : <%= review.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
          <p style="text-align: left;"><%= review.content %></p>
        </div>
      <% end %>
      <% else %>
      <h4 style="margin: 20px;">この商品にはまだレビューがありません。</h4>
      <% end %>
  </div>
</div>
