<header class="navbar navbar-fixed-top">
	<div>
		<%= link_to image_tag("logo.png", alt:"hair-gain logo", style:"width:200px;", id: "logo"), root_path %>
	</div>

	<div style="float: left; margin-left: 90px;">
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "トップ", root_path %></li>
				<li><%= link_to "商品", products_path %></li>
				<li><%= link_to "予約", "#" %></li>
				<li><%= link_to "チャット", "#" %></li>
			</ul>
		</nav>
	</div>
	<div class="container" style="float: right; margin-right: 90px;">
		<% if logged_in? %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= render("layouts/cart_text") %></li>
				<li><%= link_to "ユーザ", '#' %></li>
				<li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
			</ul>
		</nav>
	<% else %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "新規登録", signup_path %></li>
				<li><%= link_to "ログイン", login_path %></li>
			</ul>
		</nav>
		<% end %>
	</div>
</header>
