<section class="header">
	<div class="title">
		<%= link_to image_tag("logo.png", alt:"hair-gain logo", class: "logo__font"), root_path %>
	</div>
	<nav>
		<ul class="header__nav">
			<li><%= link_to "トップ", root_path %></li>
			<li><%= link_to "商品", products_path %></li>
			<li><%= link_to "予約・チャット", "#" %></li>
			<li class="header__nav--right">
				<% if logged_in? %>
					<li><%= link_to "カート内の商品数：#{current_order.order_items.size}点",cart_path,class: "cart-text" %></li>
					<li><%= link_to "アカウント","#" %></li>
					<li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to "新規登録", signup_path %></li>
					<li><%= link_to "ログイン", login_path %></li>
				<% end %>
			</li>
	</ul>
</nav>
</section>
